version: '3'
services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    env_file:
      - .env
    
  mongo:
    image: mongo
    ports:
      - "27020:27017"
    volumes:
        - type: bind
          source: ./data
          target: /data/db
    