<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body>
    <button onclick="mostrarAlerta()">Mostrar Alerta</button>
    
    <script>
        function mostrarAlerta() {
          Swal.fire('¡Hola, Mundo!', 'Esta es una alerta de SweetAlert2', 'success');
        }
      </script>
      
</body>
</html>