<!-- Footer -->
<footer class="text-center text-white mt-5" style="background-color: #3f51b5">
    <!-- Grid container -->
    <div class="container">

        <!-- Section: Text -->
        <section class="mb-1">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <p class="text-center mt-3">
                        Sistema de Transporte de Carga Pesada
                        <strong>CyberDevTransport</strong>
                    </p>
                </div>
            </div>
        </section>
        <!-- Section: Text -->


        <section class="text-center mb-3">
            <a href="https://www.facebook.com/groups/337596473252170?locale=es_LA" class="text-white me-4" target="_blank">
                <i class="fab fa-facebook-f"></i></a>
            <!-- <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i></a> -->
            <a href="https://senatraccargo.com/?gclid=CjwKCAiA1fqrBhA1EiwAMU5m_8WcMpUJ8GCBw9U8e82QscK-uAdNgdULQSXnHTWXmRinL2vhWJKWyRoCCvQQAvD_BwE" class="text-white me-4" target="_blank">
                <i class="fab fa-google"></i></a>
            <a href="https://www.instagram.com/hold.transporte/" target="_blank" class="text-white me-4">
                <i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/showcase/transporte-pesado/about/" target="_blank" class="text-white me-4">
                <i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Anyel-ec" target="_blank" class="text-white me-4">
                <i class="fab fa-github"></i>
            </a>
        </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        Todos los Derechos Reservados © 2023
        <br>
        <p class="">Developer Anyel EC</p>
    </div>
    <!-- Copyright -->
</footer>